<div class="row">
    <h1>
        Educación
    </h1>
    <div class="col-lg-11"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Instituto San José </h1>-
                <h2><i>Primario</i></h2>
                <h6><i>2004-2011</i></h6>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Instituto San Agustín </h1>-
                <h2><i>Secundario</i></h2>
                <h6><i>2012-2017</i></h6>
            </li>
            <p>Colegio secundario orientado a Humanidaes, Economía y Administracíon</p>
        </ul>
        <ul>
            <li>
                <h1>Instituto Connexions</h1>-
                <h2><i>Academia de Inglés</i></h2>
                <h6><i>2012-2017 (entrecortado)</i></h6>
            </li>
            <p>Academia de inlgés en la que estudie aproximadamente durante 4 años.</p>
        </ul>
    </div>

</div>
