<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/foto_perfil.jpg" class="img-fluid" id="img_perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}}{{persona.apellido}} Giraudo Alma</p>
        <p>Full Stack Web Developer Jr </p>
    </div >
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
     <span>
        <h1>Acerca de mi</h1>
          <p>
            Un gusto! gracias por entrar a mi página, yo soy Alma, tengo 22 años y actualmente estoy estudiando para ser programadora Fullstack.
            Tambien soy música y cantante en mis tiempos libres. Estoy iniciándome en este maravilloso mundo de la tecnología y son muy bienvenidas las propuestas, proyectos y retos!
          </p>
    </span>
  </div>
</div>
