<div class="row">
    <h1>
        Experiencia Laboral
    </h1>
    <div class="col-lg-11"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Indonesia Shop(mito.srl)</h2>
                <h6><i>Diciembre 2019 a Febrero 2020</i></h6>
            </li>
            <p>
                Vendedora de ropa indumentaria.
            </p>
        </ul>
        <ul>
            <li>
                <h2>Mister Bob</h2>
                <h6><i>Septiembre 2020 a Septiembre de 2021</i></h6>
            </li>
            <p>En este trabajo me desempeñé en la venta de indumentaria <br> y el
                  manejo de la caja registradora, ademas de todas las actividades <br>
                   extras que requieren atender un local de forma individual.
            </p>
        </ul>
    </div>

</div>
