<div class="row">
    <h1>
        Experiencia Laboral
    </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1>-
                <h3>año de trabajo</h3>
            </li>
            <p>Lorem ipsum dolor,
               sit amet consectetur 
               adipisicing elit. Neque 
               magnam repellendus nostrum 
               dolore sit, quo odit
                maxime ut adipisci 
                rerum libero atque 
                reiciendis impedit, 
                quidem alias nisi illum 
                cupiditate inventore.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1>-
                <h3>año de trabajo</h3>
            </li>
            <p>Lorem ipsum dolor,
               sit amet consectetur 
               adipisicing elit. Neque 
               magnam repellendus nostrum 
               dolore sit, quo odit
                maxime ut adipisci 
                rerum libero atque 
                reiciendis impedit, 
                quidem alias nisi illum 
                cupiditate inventore.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1>-
                <h3>año de trabajo</h3>
            </li>
            <p>Lorem ipsum dolor,
               sit amet consectetur 
               adipisicing elit. Neque 
               magnam repellendus nostrum 
               dolore sit, quo odit
                maxime ut adipisci 
                rerum libero atque 
                reiciendis impedit, 
                quidem alias nisi illum 
                cupiditate inventore.
            </p>
        </ul>
    </div>

</div>
