<div class="container">
    <div class="row">
        <div class="formulario">                
            <div class="form-group">
                    <label for="descripcionEx">Nombre de la empresa</label>
                    <input type="text" class="form-control" id="descripcionEx" name="descripcionEx"[(ngModel)]="descripcionEx" required>
                </div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreEx">Descripcion del trabajo</label>
                    <input type="text" class="form-control" id="nombreEx" name="nombreEx"[(ngModel)]="nombreEx" required>
                </div>

                <button class="btn btn-light">
                   Agregar experiencia     
                </button>
            </form>
        </div>
    </div>
</div>

