<div class="row">
    <div class="container">
        <div class="logo">
           <img src="../../../assets/APLogo-20-20-blk.png" id="logo-ap"> 
        </div>
        <div class="redes">
           
                <a href="" ><img src="../../../assets/logo_linkedin.png" id=""></a>
                <a href=""><img src="../../../assets/logo_github.png" id=""></a>
                <a href=""><img src="../../../assets/logo_instagram.png" id=""></a>
                <a href=""><img src="../../../assets/logo_facebook.png" id=""></a>
                <button type="button" class="btn btn-outline-dark">Login</button>
        </div>
    </div>

</div>
